In [3]:
import numpy as np

Generate the data from the csv file

In [4]:
data = np.genfromtxt('data\example_data.csv',delimiter=';',names =True, dtype=None, encoding='UTF')
data

array([('2018-10-13 11:10:23.560', '262km NW of Ozernovskiy, Russia', 'mww', 6.7, 'green', 1),
       ('2018-10-13 04:34:15.580', '25km E of Bitung, Indonesia', 'mww', 5.2, 'green', 0),
       ('2018-10-13 00:13:46.220', '42km WNW of Sola, Vanuatu', 'mww', 5.7, 'green', 0),
       ('2018-10-12 21:09:49.240', '13km E of Nueva Concepcion, Guatemala', 'mww', 5.7, 'green', 0),
       ('2018-10-12 02:52:03.620', '128km SE of Kimbe, Papua New Guinea', 'mww', 5.6, 'green', 1)],
      dtype=[('time', '<U23'), ('place', '<U37'), ('magType', '<U3'), ('mag', '<f8'), ('alert', '<U5'), ('tsunami', '<i4')])

%%timeit is a cell magic command from IPython that helps with calculating the time taken to perform the operation

In [6]:
%%timeit
max([row[3] for row in data])

4.1 µs ± 147 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

Pandas DataFrames and Series Datastructures

In [8]:
import pandas as pd

In [11]:
df = pd.read_csv('data\example_data.csv',delimiter=';')
df

,time,place,magType,mag,alert,tsunami
0,2018-10-13 11:10:23.560,"262km NW of Ozernovskiy, Russia",mww,6.7,green,1
1,2018-10-13 04:34:15.580,"25km E of Bitung, Indonesia",mww,5.2,green,0
2,2018-10-13 00:13:46.220,"42km WNW of Sola, Vanuatu",mww,5.7,green,0
3,2018-10-12 21:09:49.240,"13km E of Nueva Concepcion, Guatemala",mww,5.7,green,0
4,2018-10-12 02:52:03.620,"128km SE of Kimbe, Papua New Guinea",mww,5.6,green,1

In [13]:
place = pd.Series(df['place'])
place

0          262km NW of Ozernovskiy, Russia
1              25km E of Bitung, Indonesia
2                42km WNW of Sola, Vanuatu
3    13km E of Nueva Concepcion, Guatemala
4      128km SE of Kimbe, Papua New Guinea
Name: place, dtype: object

In [16]:
place.name
place.dtype

dtype('O')

In [17]:
place.index

RangeIndex(start=0, stop=5, step=1)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   time     5 non-null      object
 1   place    5 non-null      object
 2   magType  5 non-null      object
 3   mag      5 non-null      float64
 4   alert    5 non-null      object
 5   tsunami  5 non-null      int64
dtypes: float64(1), int64(1), object(4)
memory usage: 368.0+ bytes

In [21]:
df.shape

(5, 6)

In [22]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [23]:
df.columns

Index(['time', 'place', 'magType', 'mag', 'alert', 'tsunami'], dtype='object')

In [24]:
df.empty

False